@model BusinessObjects.CarInformation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car Information</h4>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-danger">@ViewData["Message"]</div>
            <input type="hidden" asp-for="CarId" />
            <div class="form-group mb-3">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CarDescription" class="control-label"></label>
                <input asp-for="CarDescription" class="form-control" />
                <span asp-validation-for="CarDescription" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NumberOfDoors" class="control-label"></label>
                <input asp-for="NumberOfDoors" class="form-control" />
                <span asp-validation-for="NumberOfDoors" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SeatingCapacity" class="control-label"></label>
                <input asp-for="SeatingCapacity" class="form-control" />
                <span asp-validation-for="SeatingCapacity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FuelType" class="control-label"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CarStatus" class="control-label"></label>
                <input asp-for="CarStatus" class="form-control" />
                <span asp-validation-for="CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CarRentingPricePerDay" class="control-label"></label>
                <input asp-for="CarRentingPricePerDay" class="form-control" />
                <span asp-validation-for="CarRentingPricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light btn-outline-primary col-12" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
